<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>orbit</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class = "index-body" >
    <img src="images/allIcon.png" alt="">
    <div class="navbar">
      <a class="signIn" href="/login">SIGN IN</a>
    </div>
    <div>
      <h1 class="mainHeading">"WRITE SOMETHING WORTH READING AND YOUR VOICE WILL BE HEARD"</h1>
    </div>
    <div >
      <h2 class="secondHeading">Create a unique and beautiful blog.</h2>
    </div>

    <button class="createYourBlog" type="button" name="button">CREATE YOUR BLOG</button>

  </body>
</html>
